* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
  }

  
 label {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #464646;
    padding-left: 30px;
  }
  input {
    font: inherit;
    border: 1px solid #ccc;
    padding: 0.4rem 0.2rem;
    color: #383838;
  }
  
  input:focus {
    outline: none;
    background: #FFF5EB;
  }
  .container {
    position: fixed;
    background: white;
    border-radius: 10px;
    width: 30%;
    height: 30%;
    top: 20vh;
    left: 35%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: block;
  }
  p{
      padding: 30px 30px 30px 30px;
      color: #DA0037;
      display: none;
      text-align: center;
  }

  h1{
      padding-left: 30px;
      color: #66DE93;
      text-align: center;
  }
  .btn {
    font-size: 1em;
    width: 6em;
    height: 2em;
    background-color: #035aa6;
    color: white;
    border-radius: 1em;
    cursor: pointer;
  }
  .btn:hover{
    background-color: #A239EA;
    color: white;
}


@media only screen and (max-width: 750px) {
    .container {
      width: 25rem;
      left: calc(50% - 10rem);
    }
    input{
        position: fixed;
        width: 200px;
    }
    .btn{
        width: 3em;
        position: absolute;
        left: 270px;
        width: 6em;
    }
   
  }
  